<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.phantancy.fgocalc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name="org.phantancy.fgocalc.common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e3bdf0f988fbbab4ed131fbc08181198" />


        <meta-data android:value="5a61306b8f4a9d420400090e" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Umeng" android:name="UMENG_CHANNEL"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="635f1a6fb0fe4b7fff7e18bfe4af9a77" />

        <activity
            android:name="org.phantancy.fgocalc.splash.SplashActy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.phantancy.fgocalc.servant.ServantListMVPActy"/>
        <activity android:name="org.phantancy.fgocalc.metaphysics.MetaphysicsActy"/>
        <activity android:name="org.phantancy.fgocalc.activity.FateGoActy"/>
        <activity android:name="org.phantancy.fgocalc.calc.CalcActy"
            android:theme="@style/TransTheme"/>
        <activity android:name="org.phantancy.fgocalc.calc.buff.BuffActy"
            android:theme="@style/TransTheme"/>
        <activity android:name="org.phantancy.fgocalc.activity.WebviewActy"/>
        <activity android:name=".activity.CompassActy"/>
        <activity android:name=".activity.PartyActy"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.phantancy.fgocalc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>